# Alpha

In [7]:
import pandas as pd
import numpy as np

In [71]:
df = pd.read_excel('test.xlsx')

In [64]:
df

          p   293.15   298.15   303.15   308.15   313.15   318.15   323.15
0     0.101  1453.26  1448.39  1443.74  1439.13  1434.50  1429.87  1425.25
1    10.000  1460.28  1455.69  1451.11  1446.55  1442.00  1437.47  1432.96
2    20.000  1467.03  1462.54  1458.07  1453.62  1449.18  1444.76  1440.36
3    30.000  1473.47  1469.08  1464.71  1460.35  1456.01  1451.70  1447.40
4    40.000      NaN  1475.33  1471.05  1466.79  1462.54  1458.31  1454.10
5    50.000      NaN  1481.33  1477.14  1472.95  1468.79  1464.64  1460.52
6    60.000      NaN  1487.11  1482.99  1478.88  1474.80  1470.73  1466.68
7    70.000      NaN      NaN  1488.63  1484.60  1480.58  1476.58  1472.60
8    80.000      NaN      NaN  1494.08  1490.11  1486.17  1482.23  1478.32
9    90.000      NaN      NaN  1499.35  1495.45  1491.57  1487.70  1483.84
10  100.000      NaN      NaN      NaN  1500.63  1496.80  1492.99  1489.19

In [46]:
temp_cols

[293.15, 298.15, 303.15, 308.15, 313.15, 318.15, 323.15]

In [63]:
temp_cols = [col for col in df.columns if col != 'p']

# Inicjalizacja listy wynikowej
alpha = []

# Iteracja po wierszach (ciśnieniach)
for i in range(len(df)):
    # Pobranie wartości ciśnienia w wierszu i utworzenie listy gęstości
    p = df.loc[i, 'p']
    dens = df.loc[i, temp_cols].tolist()
    #print(dens)
    # Inicjalizacja listy wynikowej dla danego wiersza
    alpha_row = []
    
    # Iteracja po parach sąsiednich temperatur
    for j in range(len(dens)-1):
        # Pobranie temperatur i gęstości z par sąsiednich wartości
        T1, T2 = temp_cols[j], temp_cols[j+1]
        dens1, dens2 = dens[j], dens[j+1]
        
        # Obliczenie współczynnika rozszerzalności cieplnej dla pary temperatur
        alpha_pair = -(1/dens1) * (dens2 - dens1)/(float(T2) - float(T1))
        
        # Dodanie wyniku do listy wynikowej dla wiersza
        alpha_row.append(alpha_pair)
    
    # Dodanie listy wynikowej dla wiersza do listy wynikowej ogólnej
    alpha.append(alpha_row)

# Utworzenie obiektu DataFrame z listy wynikowej
alpha_df = pd.DataFrame(alpha, columns=temp_cols[:-1])

# Wyświetlenie wyniku
print(alpha_df)

      293.15    298.15    303.15    308.15    313.15    318.15
0   0.000670  0.000642  0.000639  0.000643  0.000646  0.000646
1   0.000629  0.000629  0.000628  0.000629  0.000628  0.000627
2   0.000612  0.000611  0.000610  0.000611  0.000610  0.000609
3   0.000596  0.000595  0.000595  0.000594  0.000592  0.000592
4        NaN  0.000580  0.000579  0.000579  0.000578  0.000577
5        NaN  0.000566  0.000567  0.000565  0.000565  0.000563
6        NaN  0.000554  0.000554  0.000552  0.000552  0.000551
7        NaN       NaN  0.000541  0.000542  0.000540  0.000539
8        NaN       NaN  0.000531  0.000529  0.000530  0.000528
9        NaN       NaN  0.000520  0.000519  0.000519  0.000519
10       NaN       NaN       NaN  0.000510  0.000509  0.000509

In [44]:
def alpha(filename, sheetname=None):
    # Wczytanie danych z arkusza w pliku Excela
    df = pd.read_excel(filename, sheet_name=sheetname)

    # Wyodrębnienie kolumn z wartościami temperatury
    temp_cols = [col for col in df.columns if col != 'p']

    # Inicjalizacja pustej ramki danych do przechowywania wyników
    alpha_df = pd.DataFrame(columns=temp_cols, index=df.index)

    # Obliczenie współczynnika rozszerzalności cieplnej dla każdej pary temperatur
    for i in range(1, len(df)):
        for j in range(len(temp_cols)):
            dens1 = df.iloc[i-1, j+1]
            dens2 = df.iloc[i, j+1]
            T1 = df.iloc[i-1, 0]
            T2 = df.iloc[i, 0]
            alpha_val = -(1/dens1) * (dens2 - dens1) / (T2 - T1)
            alpha_df.iloc[i-1, j] = alpha_val

    return alpha_df

In [50]:
def alpha(file_path, sheetname=None):
    df = pd.read_excel(file_path, sheet_name=sheetname)
    df = pd.DataFrame.from_dict(data).T
    df.columns = df.iloc[0]
    df = df.drop(df.index[0])
    temp_cols = [col for col in df.columns if col != 'p']
    alpha = []
    for i in range(len(df)):
        p = df.loc[i, 'p']
        dens = df.loc[i, temp_cols].tolist()
        alpha_row = []
        for j in range(len(dens) - 1):
            T1, T2 = temp_cols[j], temp_cols[j+1]
            dens1, dens2 = dens[j], dens[j+1]
            alpha_pair = -(1/dens1) * (dens2 - dens1)/(float(T2) - float(T1))
            alpha_row.append(alpha_pair)
        alpha.append(alpha_row)
    alpha_df = pd.DataFrame(alpha, columns=temp_cols[:-1])
    return alpha_df

In [51]:
alpha('test.xlsx')

NameError: name 'data' is not defined

In [56]:
def kt(file_path, sheetname=None):
    """
    Funkcja oblicza współczynnik przewodnictwa cieplnego materiału na podstawie tabeli z danymi.
    
    :param file_path: ścieżka do pliku Excela
    :param sheetname: nazwa arkusza w pliku Excela (opcjonalna)
    :return: obiekt DataFrame z wynikami
    
    """
    # Wczytanie danych z pliku Excela
    if sheetname:
        df = pd.read_excel(file_path, sheet_name=sheetname)
    else:
        df = pd.read_excel(file_path)
    
    # Wybór kolumn z temperaturami i opornościami cieplnymi
    temp_cols = [col for col in df.columns if col != 'p']
    res_cols = [col for col in df.columns if col.startswith('R')]
    
    # Inicjalizacja listy wynikowej
    kt_list = []

    # Iteracja po wierszach (ciśnieniach)
    for i in range(len(df)):
        # Pobranie wartości ciśnienia w wierszu i utworzenie listy oporności cieplnych
        p = df.loc[i, 'p']
        res = df.loc[i, res_cols].tolist()

        # Inicjalizacja listy wynikowej dla danego wiersza
        kt_row = []

        # Iteracja po parach sąsiednich temperatur
        for j in range(len(res) - 1):
            # Pobranie temperatur i oporności cieplnych z par sąsiednich wartości
            T1, T2 = temp_cols[j], temp_cols[j+1]
            res1, res2 = res[j], res[j+1]

            # Obliczenie współczynnika przewodnictwa cieplnego dla pary temperatur
            kt_pair = (res2 - res1)/(float(T2) - float(T1))

            # Dodanie wyniku do listy wynikowej dla wiersza
            kt_row.append(kt_pair)

        # Dodanie listy wynikowej dla wiersza do listy wynikowej ogólnej
        kt_list.append(kt_row)

    # Utworzenie obiektu DataFrame z listy wynikowej
    kt_df = pd.DataFrame(kt_list, columns=temp_cols[:-1])

    # Zwrócenie wyniku
    return kt_df

In [57]:
kt('test.xlsx')

AttributeError: 'float' object has no attribute 'startswith'

In [58]:
import pandas as pd
import numpy as np

def kt(nazwa_pliku, sheetname=None):
    # Odczytanie arkusza z pliku
    df = pd.read_excel(nazwa_pliku, sheet_name=sheetname)

    # Wyodrębnienie nazw kolumn zawierających wartości temperatury
    temp_cols = [col for col in df.columns if col.startswith('T') and pd.api.types.is_numeric_dtype(df[col])]
    
    # Wyodrębnienie nazw kolumn zawierających wartości rozmiarów
    res_cols = [col for col in df.columns if col.startswith('R') and pd.api.types.is_numeric_dtype(df[col])]
    
    # Inicjalizacja listy wynikowej
    kt_list = []

    # Iteracja po parach temperatur
    for j in range(len(temp_cols) - 1):
        # Pobranie temperatur z pary sąsiednich wartości
        T1, T2 = temp_cols[j], temp_cols[j+1]

        # Inicjalizacja listy wynikowej dla danej pary temperatur
        kt_pair = []

        # Iteracja po wartościach rozmiarów dla danej pary temperatur
        for res_col in res_cols:
            # Pobranie wartości rozmiaru z ramki danych
            res_val = df[res_col].values

            # Obliczenie wartości współczynnika przewodnictwa cieplnego dla danego rozmiaru
            kt_val = np.pi * np.log(res_val[1]/res_val[0])/(2 * (T2 - T1))

            # Dodanie wartości do listy wynikowej dla danej pary temperatur
            kt_pair.append(kt_val)

        # Dodanie listy wynikowej dla danej pary temperatur do listy wynikowej ogólnej
        kt_list.append(kt_pair)

    # Utworzenie obiektu DataFrame z listy wynikowej
    kt_df = pd.DataFrame(kt_list, columns=res_cols, index=temp_cols[:-1])

    # Wyświetlenie wyniku
    print(kt_df)

In [59]:
kt('test.xlsx')

AttributeError: 'dict' object has no attribute 'columns'

In [65]:
temperatura = 298.15
cisnienie = 0.101
ciśnienia = np.array([0.101, 10.000])
gęstości = np.array([[1453.26, 1448.39, 1443.74, 1439.13, 1434.50, 1429.87, 1425.25],
                     [1460.28, 1455.69, 1451.11, 1446.55, 1442.00, 1437.47, 1432.96]])

# Interpolacja liniowa
gęstość = np.interp(cisnienie, ciśnienia, gęstości)
delta_T = 1.0
gęstości_1 = np.interp(cisnienie, ciśnienia, gęstości-delta_T)
gęstości_2 = np.interp(cisnienie, ciśnienia, gęstości+delta_T)

# Pochodna numeryczna
dgęstość_dT = np.gradient(gęstość, delta_T)
alpha = -(1/gęstość)*(dgęstość_dT[np.abs(temperatura-ciśnienia).argmin()]) # wartość dla zadanej temperatury i ciśnienia

ValueError: object too deep for desired array

In [68]:
import numpy as np
import pandas as pd

# Dane
df = pd.DataFrame({'p': [0.101, 10.000], 
                   293.15: [1453.26, 1460.28], 
                   298.15: [1448.39, 1455.69],
                   303.15: [1443.74, 1451.11], 
                   308.15: [1439.13, 1446.55], 
                   313.15: [1434.50, 1442.00],
                   318.15: [1429.87, 1437.47], 
                   323.15: [1425.25, 1432.96]})
temperatura = 298.15
cisnienie = 0.101

# Konwersja do tablicy NumPy
ciśnienia = df['p'].values
gęstości = df.iloc[:, 1:].values

# Interpolacja liniowa
gęstości_interp = np.zeros(gęstości.shape)
for i in range(gęstości.shape[1]):
    gęstości_interp[:, i] = np.interp(cisnienie, ciśnienia, gęstości[:, i])

gęstości_1_interp = np.zeros(gęstości.shape)
for i in range(gęstości.shape[1]):
    gęstości_1_interp[:, i] = np.interp(cisnienie, ciśnienia, gęstości[:, i] - 1)

gęstości_2_interp = np.zeros(gęstości.shape)
for i in range(gęstości.shape[1]):
    gęstości_2_interp[:, i] = np.interp(cisnienie, ciśnienia, gęstości[:, i] + 1)

# Pochodna numeryczna
delta_T = 1.0
dgęstość_dT = -(gęstości_2_interp - gęstości_1_interp) / (2 * delta_T * gęstości_interp)
alpha = -(1/gęstości_interp[:, np.abs(temperatura-ciśnienia).argmin()])*(dgęstość_dT[:, np.abs(temperatura-ciśnienia).argmin()]) # wartość dla zadanej temperatury i ciśnienia

print(alpha)
#W tym kodzie, najpierw wykonywana jest interpolacja liniowa w pętli dla każdej kolumny gęstości. Następnie korzystając z tych tablic, obliczana jest numeryczna pochodna dgęstość_dT. Ostate

[4.76682232e-07 4.76682232e-07]

In [72]:
# Przygotuj dane
cisnienia = df['p']
gęstości = df.drop('p', axis=1)

In [ ]:
df['p']

In [120]:
gęstości[:3]

    293.15   298.15   303.15   308.15   313.15   318.15   323.15
0  1453.26  1448.39  1443.74  1439.13  1434.50  1429.87  1425.25
1  1460.28  1455.69  1451.11  1446.55  1442.00  1437.47  1432.96
2  1467.03  1462.54  1458.07  1453.62  1449.18  1444.76  1440.36

In [75]:
# Oblicz różnicę gęstości i ciśnień
delta_gęstości = gęstości.diff(axis=0)
delta_cisnienia = cisnienia.diff()

In [78]:
Kt = (1 / gęstości) * (delta_gęstości.div(delta_cisnienia, axis=0))

In [79]:
Kt

      293.15    298.15    303.15    308.15    313.15    318.15    323.15
0        NaN       NaN       NaN       NaN       NaN       NaN       NaN
1   0.000486  0.000507  0.000513  0.000518  0.000525  0.000534  0.000544
2   0.000460  0.000468  0.000477  0.000486  0.000495  0.000505  0.000514
3   0.000437  0.000445  0.000453  0.000461  0.000469  0.000478  0.000486
4        NaN  0.000424  0.000431  0.000439  0.000446  0.000453  0.000461
5        NaN  0.000405  0.000412  0.000418  0.000426  0.000432  0.000440
6        NaN  0.000389  0.000394  0.000401  0.000408  0.000414  0.000420
7        NaN       NaN  0.000379  0.000385  0.000390  0.000396  0.000402
8        NaN       NaN  0.000365  0.000370  0.000376  0.000381  0.000387
9        NaN       NaN  0.000351  0.000357  0.000362  0.000368  0.000372
10       NaN       NaN       NaN  0.000345  0.000349  0.000354  0.000359

In [99]:
temperatury = df.columns
# Oblicz różnicę gęstości i ciśnień
delta_gęstości = gęstości.diff(axis=1)
delta_temperatury = [temp_values[i] - temp_values[i-1] for i in range(1, len(temp_values))]

In [104]:
gęstości.diff(axis=1)

    293.15  298.15  303.15  308.15  313.15  318.15  323.15
0      NaN   -4.87   -4.65   -4.61   -4.63   -4.63   -4.62
1      NaN   -4.59   -4.58   -4.56   -4.55   -4.53   -4.51
2      NaN   -4.49   -4.47   -4.45   -4.44   -4.42   -4.40
3      NaN   -4.39   -4.37   -4.36   -4.34   -4.31   -4.30
4      NaN     NaN   -4.28   -4.26   -4.25   -4.23   -4.21
5      NaN     NaN   -4.19   -4.19   -4.16   -4.15   -4.12
6      NaN     NaN   -4.12   -4.11   -4.08   -4.07   -4.05
7      NaN     NaN     NaN   -4.03   -4.02   -4.00   -3.98
8      NaN     NaN     NaN   -3.97   -3.94   -3.94   -3.91
9      NaN     NaN     NaN   -3.90   -3.88   -3.87   -3.86
10     NaN     NaN     NaN     NaN   -3.83   -3.81   -3.80

In [115]:
delta_gęstości = delta_gęstości.astype(float)
delta_temperatury = pd.Series(delta_temperatury)
delta_temperatury = delta_temperatury.astype(float)

# Obliczenie wartości A
A = (1 / gęstości) * (delta_gęstości.div(delta_temperatury, axis=1))

In [118]:
delta_gęstości.div(delta_temperatury, axis=0)

    293.15  298.15  303.15  308.15  313.15  318.15  323.15
0      NaN  -0.974  -0.930  -0.922  -0.926  -0.926  -0.924
1      NaN  -0.918  -0.916  -0.912  -0.910  -0.906  -0.902
2      NaN  -0.898  -0.894  -0.890  -0.888  -0.884  -0.880
3      NaN  -0.878  -0.874  -0.872  -0.868  -0.862  -0.860
4      NaN     NaN  -0.856  -0.852  -0.850  -0.846  -0.842
5      NaN     NaN  -0.838  -0.838  -0.832  -0.830  -0.824
6      NaN     NaN     NaN     NaN     NaN     NaN     NaN
7      NaN     NaN     NaN     NaN     NaN     NaN     NaN
8      NaN     NaN     NaN     NaN     NaN     NaN     NaN
9      NaN     NaN     NaN     NaN     NaN     NaN     NaN
10     NaN     NaN     NaN     NaN     NaN     NaN     NaN

In [111]:
A

    293.15    298.15    303.15    308.15    313.15    318.15    323.15
0      NaN -0.000672 -0.000644 -0.000641 -0.000646 -0.000648 -0.000648
1      NaN -0.000631 -0.000631 -0.000630 -0.000631 -0.000630 -0.000629
2      NaN -0.000614 -0.000613 -0.000612 -0.000613 -0.000612 -0.000611
3      NaN -0.000598 -0.000597 -0.000597 -0.000596 -0.000594 -0.000594
4      NaN       NaN -0.000582 -0.000581 -0.000581 -0.000580 -0.000579
5      NaN       NaN -0.000567 -0.000569 -0.000566 -0.000567 -0.000564
6      NaN       NaN       NaN       NaN       NaN       NaN       NaN
7      NaN       NaN       NaN       NaN       NaN       NaN       NaN
8      NaN       NaN       NaN       NaN       NaN       NaN       NaN
9      NaN       NaN       NaN       NaN       NaN       NaN       NaN
10     NaN       NaN       NaN       NaN       NaN       NaN       NaN

In [97]:
temp_values = temperatury.to_list()
temp_diffs = [temp_values[i] - temp_values[i-1] for i in range(1, len(temp_values))]

In [98]:
temp_diffs

[5.0, 5.0, 5.0, 5.0, 5.0, 5.0]

In [95]:
diffs

   298.15  303.15
0       3       3
1       3       3
2       3       3

In [81]:
# Pobranie wartości temperatur
temp_cols = [col for col in df.columns if col != 'p']

# Inicjalizacja listy wynikowej
kt = []

# Iteracja po wierszach (ciśnieniach)
for i in range(len(df)):
    # Pobranie wartości ciśnienia w wierszu i utworzenie listy gęstości
    cisnienie = df.loc[i, 'p']
    gestosci = df.loc[i, temp_cols].tolist()
    
    # Inicjalizacja listy wynikowej dla danego wiersza
    kt_row = []
    
    # Iteracja po parach sąsiednich gęstości
    for j in range(len(gestosci)-1):
        # Pobranie gęstości z par sąsiednich wartości
        dens1, dens2 = gestosci[j], gestosci[j+1]
        
        # Obliczenie współczynnika Kt dla pary gęstości
        kt_pair = 1/dens1 * (dens2 - dens1)/(cisnienie*1e6)
        
        # Dodanie wyniku do listy wynikowej dla wiersza
        kt_row.append(kt_pair)
    
    # Dodanie listy wynikowej dla wiersza do listy wynikowej ogólnej
    kt.append(kt_row)

# Utworzenie obiektu DataFrame z listy wynikowej
kt_df = pd.DataFrame(kt, columns=temp_cols[:-1])

# Dodanie pierwszego wiersza z wartościami numerycznymi
kt_df.loc[-1] = df.loc[0, temp_cols].values / df.loc[0, 'p'] / 1e6
kt_df.index += 1  # Przesunięcie indeksów w górę
kt_df = kt_df.sort_index()  # Sortowanie wierszy względem indeksów

# Wyświetlenie wyniku
print(kt_df)

ValueError: cannot set a row with mismatched columns

In [125]:
dR = 1063.85 - 1070.10
dT = 283.15-273.15
531.8

531.8

In [126]:
-(1/1063.85)*((dR)/(dT))*1e6

587.4888377120834

In [1]:
import pandas as pd

# przykładowe dane
df = pd.DataFrame({'X': [1, 2, 3, 4, 5], 'y': [1, 4, 9, 16, 25]})

# obliczanie numerycznej pochodnej y względem X
diff_y = df['y'].diff()
diff_x = df['X'].diff().fillna(method='bfill') # uzupełniamy brakującą wartość
diff_y_over_diff_x = diff_y / diff_x

print(diff_y_over_diff_x)

0    NaN
1    3.0
2    5.0
3    7.0
4    9.0
dtype: float64

In [2]:
import pandas as pd

# przykładowe dane
df = pd.DataFrame({'X': [1, 2, 3, 4, 5], 'y': [1, 4, 9, 16, 25]})

# obliczanie numerycznej pochodnej y względem X
h = 1  # krok
diff_y = (df['y'].shift(-1) - df['y'])[:-1] / h
diff_x = df['X'][:-1]

# łączenie wyników w jednym dataframe
result_df = pd.DataFrame({'X': diff_x, 'dy/dx': diff_y})

print(result_df)

   X  dy/dx
0  1    3.0
1  2    5.0
2  3    7.0
3  4    9.0

In [3]:
import pandas as pd

# przykładowe dane
df = pd.DataFrame({'X': [1, 2, 3, 4, 5], 'y': [1, 4, 9, 16, 25]})

# obliczanie numerycznej pochodnej y względem X
h = 1  # krok
diff_y = (df['y'].shift(-1) - df['y'])[:-1] / h
diff_x = df['X'][:-1]

# łączenie wyników w jednym dataframe
result_df = pd.DataFrame({'X': diff_x, 'dy/dx': diff_y})

print(result_df)

   X  dy/dx
0  1    3.0
1  2    5.0
2  3    7.0
3  4    9.0

In [8]:
import numpy as np
x = np.arange(0,4,1)
y = x**2

In [9]:
y

array([0, 1, 4, 9], dtype=int32)

In [10]:
dy = np.gradient(y)
dx = np.gradient(x)
 
d = dy/dx
d

array([1., 2., 4., 5.])

In [11]:
dy

array([1., 2., 4., 5.])

In [12]:
dx

array([1., 1., 1., 1.])

In [13]:
import numpy.polynomial.polynomial as poly

In [14]:
import pandas as pd

# dane
x = [1, 2, 3, 4, 5]
y = [1, 4, 9, 16, 25]

# krok
h = x[1] - x[0]

# obliczenie pochodnych jednostronnych dla każdego punktu x
dydx = []
for i in range(len(x)-1):
    dydx_i = (y[i+1] - y[i]) / h
    dydx.append(dydx_i)
dydx.append(None)

# wynik w postaci ramki danych
df = pd.DataFrame({'X': x, 'dy/dx': dydx})
print(df)

   X  dy/dx
0  1    3.0
1  2    5.0
2  3    7.0
3  4    9.0
4  5    NaN

In [15]:
import pandas as pd

# dane
x = [1, 2, 3, 4, 5]
y = [1, 4, 9, 16, 25]

# krok
h = x[1] - x[0]

# obliczenie pochodnych symetrycznych dla każdego punktu x
dydx = [None]
for i in range(1, len(x)-1):
    dydx_i = (y[i+1] - y[i-1]) / (2*h)
    dydx.append(dydx_i)
dydx.append(None)

# wynik w postaci ramki danych
df = pd.DataFrame({'X': x, 'dy/dx': dydx})
print(df)

   X  dy/dx
0  1    NaN
1  2    4.0
2  3    6.0
3  4    8.0
4  5    NaN

In [16]:
x = [293.15	,298.15	,303.15,	308.15	,313.15	318.15,	323.15
]

In [32]:
y = [1387.69,1383.14,1378.62,1374.12,1369.64,1365.18,1360.73]

In [33]:
# obliczenie pochodnych jednostronnych dla każdego punktu x
# krok
h = x[1] - x[0]

# obliczenie pochodnych jednostronnych dla każdego punktu x
dydx = []
for i in range(len(x)-1):
    dydx_i = (y[i+1] - y[i]) / h
    dydx.append(dydx_i)
dydx.append(None)

# obliczenie (1/y) * dydx
inv_y = [1 / yi for yi in y]
inv_y_dydx = [inv_y[i] * dydx[i] if dydx[i] is not None else None for i in range(len(dydx))]

# wynik w postaci ramki danych
df = pd.DataFrame({'X': x, 'dy/dx': dydx, '(1/y)*(dy/dx)': inv_y_dydx})
print(df)

   X  dy/dx  (1/y)*(dy/dx)
0  1  -4.55      -0.003279
1  2  -4.52      -0.003268
2  3  -4.50      -0.003264
3  4  -4.48      -0.003260
4  5    NaN            NaN

Object `excelu` not found.

In [22]:
import pandas as pd

def numerical_diff(df):
    dx = df['x'].diff()
    dy_fwd = df['y'].diff()
    dy_fwd.name = 'dy_fwd'
    dy_bwd = df['y'].diff(periods=-1)
    dy_bwd.name = 'dy_bwd'
    dy_sym = (df['y'].diff(periods=-1) + df['y'].diff()) / (2 * dx)
    dy_sym.name = 'dy_sym'
    df_diff = pd.concat([dy_fwd, dy_bwd, dy_sym], axis=1)
    return df_diff

# przykładowa ramka danych
df = pd.DataFrame({'x': [1, 2, 3, 4], 'y': [1, 4, 9, 16]})

# obliczenie numerycznych pochodnych
df_diff = numerical_diff(df)

# połączenie ramki danych z pochodnymi z ramką danych oryginalną
df_merged = pd.concat([df, df_diff], axis=1)

# wyświetlenie wyniku
print(df_merged)

   x   y  dy_fwd  dy_bwd  dy_sym
0  1   1     NaN    -3.0     NaN
1  2   4     3.0    -5.0    -1.0
2  3   9     5.0    -7.0    -1.0
3  4  16     7.0     NaN     NaN

In [45]:
def num_diff(y, h, x):
    n = len(y)
    if x == 1:
        dydx = (y[1] - y[0]) / h
    elif x == n:
        dydx = (y[n-1] - y[n-2]) / h
    else:
        dydx = (y[x] - y[x-2]) / (2*h)
    return dydx

In [46]:
y = [1, 4, 9, 16, 25]
h = 1
x = [1.3,2,3,4,5]

In [47]:
dydx = []
for i in range(len(x)):
    dydx_i = num_diff(y, h, x[i])
    dydx.append(dydx_i)

print(dydx)

TypeError: list indices must be integers or slices, not float

In [41]:
x1 = 293.15
x2 = 298.15
y = [1387.69,1383.14,1378.62,1374.12,1369.64,1365.18,1360.73]

In [44]:
dydx1 = num_diff(y, h, 0)
dydx2 = num_diff(y, 6, x2)
print(f'dy/dx dla x={x1}: {dydx1}')
print(f'dy/dx dla x={x2}: {dydx2}')

TypeError: list indices must be integers or slices, not float